#bi {
  font-size: 30em;
}
.container {
  border: 1px solid grey;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
}
.stats p{
  display: inline-block;
  margin: 10px;
}
.input-group{
display:flex;
align-items: center;
justify-content: center;

}
.imgs {
  display:flex;
align-items: center;
justify-content: center;
}


